<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Planet Catalog</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">Catalog</a></li>
                <li><a href="#">Search</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>
                <li><a href="#">Create</a></li>
                <li><a href="#">Logout</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="planet-card" id="planet1">
            <img
                src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/e64e74fd-a498-4cdf-b98a-0876f9e54831/d5ich6s-cbf349d4-4ea4-4dd6-a6db-769feefe98f5.jpg/v1/fill/w_900,h_474,q_75,strp/alpha_centauri_bb_by_eburacum45_d5ich6s-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NDc0IiwicGF0aCI6IlwvZlwvZTY0ZTc0ZmQtYTQ5OC00Y2RmLWI5OGEtMDg3NmY5ZTU0ODMxXC9kNWljaDZzLWNiZjM0OWQ0LTRlYTQtNGRkNi1hNmRiLTc2OWZlZWZlOThmNS5qcGciLCJ3aWR0aCI6Ijw9OTAwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.E7E9_PCtIsRdKCPAPmnZSrk3CTKTBkx5hnokU57pDRk">
            <h3>Alpha Centauri Bb</h3>
            <p>Solar System: Alpha Centauri</p>
            <a class='detail-btn' href='#'>Details</a>
        </div>
        <div class="planet-card" id="planet2">
            <img src="https://cdn.pixabay.com/photo/2022/06/29/15/25/jupiter-7291995_1280.jpg" alt="Planet 2">
            <h3>Jupiter</h3>
            <p>Solar System: Milky Way</p>
            <a class='detail-btn' href='#'>Details</a>
        </div>
        <!-- Repeat the block for more planets -->
        <p class="no-post">There are no planets found yet!</p>

    </main>
    <footer>
        <p>© 2024 Space Explorers. All rights reserved.</p>
    </footer>
</body>

</html>