<form action="/contacts/add" method="POST">
    <div>
        <label for="name">Name</label>
        <input type="text" name="name" />
    </div>
    <div>
        <label for="phone">Phone</label>
        <input type="text" name="phone">
    </div>

    <div>
        <input type="submit" value="Add">
    </div>
</form>
